.photo-grid{
  margin: 92px auto;
  width: calc((1184/1280)*100vw);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc((16/1280)*100vw);
}
@media (min-width: 1360px) {
  .photo-grid{
    max-width: 100%;
    gap: 6px;
  }
}
@media screen and (max-width: 1024px) {
  .photo-grid{
    width: calc((928/1024)*100vw);
    grid-template-columns: repeat(3, 1fr);
    gap: calc((14/1024)*100vw);
  }

}
@media (max-width: 768px) {
  .photo-grid{
    width: calc((720/768)*100vw);
    margin: 88px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: calc((16/768)*100vw);
  }
}
@media (max-width: 425px) {
  .photo-grid{
    margin: 64px auto;
    width: calc((288/320)*100vw);
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}
