.lead__image-route{
  position: absolute;
  top: calc((90/1280)*100vw);
  left: calc((23/1280)*100vw);
  display: block;
  margin: auto;
  width: calc((938/984)*100%);
}
@media (max-width: 1024px) {
  .lead__image-route{
    width: calc((884/928)*100%);
    height: calc((249/580)*100%);
    top: calc((85/1024)*100vw);
    left: calc((22/1024)*100vw);
  }

}
@media (max-width: 768px) {
  .lead__image-route{
    width: calc((732/768)*100%);
    height: calc((206/480)*100%);
    top: calc((70/768)*100vw);
    left:calc((18/768)*100vw);
  }
}
