.header{
display: flex;
justify-content: space-between;
width: calc((1184/1280)*100vw);
margin: auto;
padding-top: 28px;
}
@media (max-width: 1024px) {
  .header{
    width: calc((928/1024)*100vw);

  }
}
@media (max-width: 768px) {
  .header{
    width: calc((720/768)*100vw);
  }
}
