.photo-grid__item{
  width: calc((284/1280)*100vw);
  height: calc((213/1280)*100vw);
}
@media (max-width:1024px) {
  .photo-grid__item{
    width: calc((300/1024)*100vw);
    height: calc((225/1024)*100vw);

  }
}
