.lead__title{
  width: 720px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}
@media (max-width: 720px) {
  .lead__title{
    font-size: 76px;
    line-height: 79px;
    width: 95%;
  }
}
@media (max-width: 580px) {
  .lead__title{
    font-size: 56px;
    line-height: 59px;
  }
}
@media (max-width: 425px) {
  .lead__title{
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
    width: calc((288/320)*100vw);
  }

}
