.place__paragraph{
  margin: 0;
  font-size: 18px;
  line-height: 163%;
}
.place__paragraph:not(:first-child){
    margin-top: 26px;
}
@media (max-width: 768px) {
  .place__paragraph{
    font-size: 16px;
  }
  .place__paragraph:not(:first-child){
    margin-top: 25px;
  }
}
@media (max-width: 425px) {
  .place__paragraph{
    width: 100%;

  }
}
