.footer__copyright{
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 720px) {
  .footer__copyright{
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 580px) {
  .footer__copyright{
    font-size: 14px;
    line-height: 14px;
    margin-top: 48px;
  }
}