.lead__image{
  display: block;
  width: calc((984/1280)*100vw);
  height: calc((615/1280)*100vw);
  margin: auto;
}
@media (min-width: 1360px) {
  .lead__image{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1024px) {
  .lead__image{
    width: calc((928/1024)*100vw);
    height: calc((580/1024)*100vw);
  }
}

@media (max-width: 768px) {
  .lead__image{
    width: 100%;
    height: calc((480/768)*100vw);
  }
}
