.lead__image{
    position: relative;
    width: calc((984/1280)*100vw);
    height: calc((615/1280)*100vw);
    background-size: cover;
    background-image: url(../../../vendor/images-sprint-3/lead-polka.jpg);
    margin: auto;
}
@media (max-width: 1024px) {
  .lead__image{
    width: calc((928/1024)*100vw);
    height: calc((580/1024)*100vw);
  }
}

@media (max-width: 768px) {
  .lead__image{
  width: 100%;
  height: calc((480/768)*100vw);
  }
}
