.lang-links__lang-link{
  color: #ffffff;
  margin-right: 18px;
  font-size: 24px;
  line-height: 28px;
}
.lang-links__lang-link:last-child{
  margin-right: 0;
  text-decoration: none;
}
.lang-links__lang-link:hover{
  opacity: 0.8;
  transition: 0.2s;
}
@media (max-width: 425px) {
  .lang-links__lang-link{
    font-size: 18px;
    line-height: 20px;
  }
}
