.intro{
    width: 690px;
    padding-left: 148px;
}
@media (max-width: 1024px) {
  .intro{
    padding-left: 48px;

  }
}
@media (max-width: 768px) {
  .intro{
    padding-left: 0;
    width: calc((720/768)*100vw);
    margin: auto;
  }
}
@media (max-width: 425px) {
  .intro{
    width: calc((288/320)*100vw);
  }
}
