.lead__subtitle{
  margin: 0 auto 64px;
  max-width: 640px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
@media (max-width: 1024px) {
  .lead__subtitle{
    margin-bottom: 56px;
  }
}
