.cover{
  position: relative;
  display: flex;
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cover:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: .3;

}
.cover:hover:before{
  opacity: .8;
  transition: .3;
}
@media (max-width: 1220px) {
  .cover{
    width: 95%;
  }
}
@media (max-width: 1024px) {
  .cover{
    width: 100%;
    min-height: calc((640/1024)*100vw);
  }
}
@media (max-width: 768px) {
  .cover{
    margin: 90px 0 88px;
  }
}
@media (max-width: 425px) {
  .cover{
    margin: 66px 0 64px;
  }
}
