.lead__caption{
  display: block;
  width: calc((984/1280)*100vw);
  text-align: start;
  margin: 8px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .lead__caption{
    width: calc((928/1024)*100vw);
  }
}
@media (max-width:768px) {
  .lead__caption{
    width: calc((720/768)*100vw);
  }
}
@media (max-width: 425px) {
  .lead__caption{
    width: calc((288/320)*100vw);
  }
}
