.lead__caption{
  display: block;
  max-width: 984px;
  text-align: start;
  margin: 8px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}