.website__link{
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.website__link:hover{
  opacity: 0.8;
  transition: 0.2s;
}
@media (max-width: 470px) {
  .website__link{
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 320px) {
  .website__link{
    font-size: 18px;
    line-height: 22px;
  }
}
