.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc((1184/1280)*100vw);
  margin: auto;
  padding-bottom: 24px;
}
@media (max-width: 1024px) {
  .footer{
    width: calc((928/1024)*100vw);
  }
}
@media (max-width: 768px) {
  .footer{
    width: calc((720/768)*100vw);
  }
}
@media (max-width: 720px) {
  .footer{
    width: 95%;
  }
}
@media (max-width: 580px) {
  .footer{
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc((16/320)*100vw);
  }
}
