.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc((1184/1280)*100vw);
  margin: auto;
  padding-bottom: 24px;
}
@media (max-width: 1024px) {
  .footer{
    width: calc((928/1024)*100vw);
  }
}
